<ion-header>
  <ion-navbar>
    <ion-title>Einkaufswagen</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="cart.length">
    <ion-item-sliding *ngFor="let item of cart; let index=index">
      <ion-item>
      <h2>{{item.name}}</h2>
      <p>{{item.price | currency: 'EUR'}}</p>
      </ion-item>
      <ion-item-options slide="left">
        <button ion-button icon-only color="danger" default (click)="removeFromCart(index)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <p *ngIf="!cart.length" padding text-center>Dein Warenkorb ist noch leer.</p>
</ion-content>
